
<div class="container mt-6">
    <h1>Company Details</h1>
    <div *ngIf="results.length > 0; else loadingCompanies">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Street Address</th>
                <th scope="col">State</th>
            </tr>
            </thead>
                <tbody  *ngFor="let result of results">
                    <tr>
                    <td>{{result.companyname}}</td>
                    <td>{{result.streetaddress}}</td>
                    <td>{{result.state}}</td>
                    </tr>
                </tbody>    
         
        </table>
    </div>
    <!--loading displays when the data is still being fetched-->
    <ng-template #loadingCompanies>
      <p>Loading Companies...</p>
    </ng-template>
</div>
